.dropzone{
  border: none;
  border-radius: 0.5em;
}

.transition{
  transition: all ease 1s;
}
option{
  column-count: 2;
}

.order ul {
  list-style: none;
}

.order ul li:before {
  content: '✓';
}
.carousel-inner{
  height:1000px;
}
.carousel-item , .carousel-item.active{
  height:100%;
}
